@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-b";
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "SpaceMono-r";
  src: url("./fonts/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "SpaceMono-i";
  src: url("./fonts/SpaceMono-italic.ttf");
}

@font-face {
  font-family: "OpenSans-i";
  src: url("./fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "OpenSans-b";
  src: url("./fonts/OpenSans-Bold.ttf");
}








.wrapper{
    /* display:flex; */

    height:50vh;
    place-items:center
  }




