@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-b";
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "SpaceMono";
  src: url("./fonts/SpaceMono-Bold.ttf");
}



.wrapper{
    /* display:flex; */

    height:50vh;
    place-items:center
  }




